<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GHG HighLevel Test case">
  <test thread-count="5" name="GHG Test">
    <classes>
      <class name="com.ghg.GoalSubjectBuildings"/>
      <class name="com.ghg.EngUserSector"/>
      <class name="com.ghg.RenewableEnergyAllEndUserSectors"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
